<ul>
    <li><a href="{% route 'blog' %}">Go to Blog</a></li>
    <li><a href="{% route 'blog_admin_dashboard' %}">Dashboard</a></li>
    <li><a href="{% route 'blog_post_admin' %}">Posts</a>
        <ul>
            <li><a href="{% route 'blog_post_new' %}">Write Post</a></li>
        </ul>
    </li>
</ul>