{% extends 'BlogBundle::adminLayout.twig' %}

{% block content %}
<div class="span-6">
    {% include 'BlogBundle:AdminPost:adminNavMenu.twig' %}
</div>

<div class="span-18 last">
    <h1>Confirm Delete</h1>

    <p>You are about to delete the post "<strong>{{post.headline}}</strong>". Are you sure?</p>

    <form method="post" action="{% route 'blog_post_delete' with ['id': post.id ] %}">
        <input type="submit" name="confirmDelete" value="Yes, delete this post" />
    </form>

</div>
{% endblock %}