{% extends 'WhitewashingBlogBundle::adminLayout.twig.html' %}

{% block content %}
<h1>Post deleted!</h1>

<p>The post with headline "<strong>{{post.headline}}></strong>" was deleted.</p>
{% endblock %}