{% extends 'BlogBundle::adminLayout.twig' %}

{% block content %}
<div class="span-24 last">
    <form method="post" action="{{ path('blog_security_check') }}">
        <fieldset>
            <legend>Login</legend>

            {% if error %}
            <div class="error">Error while logging in. Username and/or Password are wrong!</div>
            {% endif %}

            <p align="center">
                <input class="title" type="text" name="_username" size="20" />
                <input class="title" type="password" name="_password" size="20" />
            </p>

            <p align="center"><input type="submit" value="Login" /></p>
        </fieldset>
    </form>
</div>
{% endblock %}