{% extends '::layout.html.twig' %}

{% block content %}
    <form id="writepost" class="wwform" method="post" action="{{ path('blog_post_new') }}">
            {{ form_field(writeForm) }}
        <input type="submit" name="submit_thenedit" value="Save" />
        <input type="submit" name="submit_thenshow" value="Save and Show" />
    </form>
{% endblock %}