<ul class="tagcloud">
    {% for tag in tags %}
        <li class="{{tag.class}}">
            <a href="{{ path('blog_show_tag', {'tagName': tag.0.slug}) }}">{{tag.0.name}}</a>
        </li>
    {% endfor %}
</ul><br clear="all" />