{% extends '::layout.html.twig' %}

{% block content %}

{% if posts %}
{% for p in posts %}
    {% include 'WhitewashingBlogBundle:Blog:post.html.twig' with {'post': p} %}
{% endfor %}

{% else %}

<p>There are no posts in this blog yet.</p>

<p>
    If you are the owner of this blog you can login
    with your account and <a href="{{ path('blog_admin_dashboard') }}">start creating content</a>.
</p>

{% endif %}

{% endblock %}