{% extends '::layout.html.twig' %}

{% block title %}Posts by Tag :: {{tag.name}}{% endblock %}

{% block content %}
<h1>Posts by Tag "{{tag.name}}"</h1>

<p><a href="{{ path('blog_feed_tags', {'tagName': tag.slug}) }}">
    <img src="{{ asset("bundles/whitewashingblog/themes/whitewashing-de/images/icons/feed-16x16.png") }}" alt="RSS" />
    Subscribe to posts of this tag</a>
</p>

{% for post in posts %}

{% include 'WhitewashingBlogBundle:Blog:post.html.twig' with {'post': post} %}
{% endfor %}

{% endblock %}